  ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  .position {
    width: 100%;
  }
  
  table {
    position: relative;
  }
  
  .status {
    width: 150px;
  }

  p {
    margin-left: 3%;
  }
  